.Detail-container {
  padding: 38px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Detail-container p {
  text-indent: 20px
}

.Detail-combo {
  align-self: stretch
}

.Detail-combo-button {
  margin-right: 16px;
  line-height: 20px;
  font-size: 12px;
}

.Detail-flavor {
  align-self: stretch
}

.page__background {
  background-color: white;
}


